<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CameraM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2A0DB322E7BF0C5005C3ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2A0DB4D2E7BF0C6005C3ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2A0DB572E7BF0C6005C3ED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
